

<h2>Enter your github username and then search for your github informations</h2><br>
<h2>To access on github repositories click on "link to github repositories"</h2><br>

<div class="input-form">
        <input class="input-field" type="text" placeholder="Username" [(ngModel)]="userName">
 <button (click)="submitInput()">Search</button>
    </div>
  <div class="container">

    <div class="row">
        
            <img src={{repository.avatar_url}}>
            <h2 appStrikethrough>{{repository.name}}</h2>
            <p>Repositories:{{repository.public_repos}}<p>
            <p>Followers:{{repository.followers}}<p>
            <p>Following:{{repository.following}}<p>
            <p>Location:{{repository.location}}<p>
         <a href="{{repository.html_url}}" target="_blank">link to github repositories</a><br><br><br>
            <p>Created in:{{repository.completeDate|dateCount}} days</p>

        
    </div>
    
</div>
<app-user-form></app-user-form>